* {
  margin: 0;
  font-family: "Lobster", cursive;
  font-family: "Work Sans", sans-serif;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
img {
  width: 100%;
}

/* buttons */
.primary-btn {
  background: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.7s, color 0.7s;
  
}
.primary-btn:hover {
  background: #ffffff;
  color: #ff900e;
  border: 2px solid #ff900e;
  padding: 18px 23px;
}
.experience-btn {
  background: #ff900e;
  padding: 46px 42px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.7s, color 0.7s;
}
.experience-btn:hover {
  background: #ffffff;
  color: #ff900e;
  border: 6px solid #ff900e;
  padding: 40px 36px;
}
.experience-btn span {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
}

/*___________header start______________ */
.header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.navbar-items {
  display: flex;
  gap: 75px;
  align-items: center;
  padding: 0;
}
.navbar-items li {
  list-style: none;
}
.navbar-items a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
  transition: color 0.2s;
}
.navbar-items a:hover{
  color: #ff900e;
}
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-title-description {
  max-width: 860px;
}
.header-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}
.header-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 30px;
  text-align: center;
}
.banner img {
  margin-top: 50px;
}
/* ______________header end______________ */
/* md-abir-alahe */
/* __________________Main Start____________ */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 85px 50px 220px 50px;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.section-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 34px;
}
/* Features section */
.features-section {
  max-width: 1320px;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 70px;
  align-items: center;
}
.photo-gallery {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.quick-list {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
}
.features {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}
/* Love and Enjoy Section */
.love-enjoy-section .container {
    margin-top: 130px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.love-enjoy-section .left-ctn {
  display: flex;
  flex-direction: column;
}
.love-enjoy-section .section-title-ctn {
  border: 5px solid #ff900e;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 20px;
}
.love-enjoy-section .le-card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.love-enjoy-section .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}
.love-enjoy-section .card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.right-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.experience-btn {  
    margin-top: -130px;
    margin-left: -70px;
}

/* Some Facts */
.some-facts-section .section-title {
  margin-top: 130px;
  margin-bottom: 0;
  text-align: start;
}
.some-facts-section .section-description {
  margin-bottom: 100px;
}
.some-facts-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.some-facts-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 36px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}
.some-facts-card:hover  {
  transform: scale(1.3, 1.3);
  border: none;
  background-color: #ebad67;
}
.some-facts-card img {
  height: auto;
  width: auto;
  transition: transform 1s;
}
.some-facts-card:hover>img {
  transform: rotate(360deg);
}
.sm-card-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: default;
}
.sm-card-description {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
  text-align: center;
  cursor: default;
}
.some-facts-card:hover>h2, .some-facts-card:hover>h4 {
  color: #ffffff;
}
/* contact */
.contact-section {
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    padding-bottom: 26px;
}
.contact-section-container {
    max-width: 40%;
}
.contact-section .section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 26px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form input[type="text"], .contact-form input[type="email"], textarea {
    padding: 18px 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    
}
/* sponsors section */
.sponsor-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}
.sponsor-section .section-description {
  max-width: 540px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 50px;
}
.sponsors-list {
  display: flex;
  gap: 140px;
}
.sponsor-logo img {
  filter: grayscale(100%);
}
/* __________________Main End_____________ */
/* footer */
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.footer-ctn {
  margin: 0 auto 220px;
  background: #fff4e7;
  border-radius: 8px;
  padding: 40px;
}
footer .footer-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}

/* responsive design */
.hide {
  display: none;
}

/* md-abir-alahe */
@media screen and (max-width:576px ) {
  /* header */
  .header-container {
    padding: 50px 15px;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-items {
    flex-direction: column;
    gap: 5px;
  }
  /* main sections */
  main {
    margin: 0 auto;
    padding: 60px 15px 155px 15px;
  }
  /* features section */
  .features-section {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .photo-gallery {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .feature-section-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-section-items .section-title, .feature-section-items .section-description {
    text-align: center;
  }
  /* love and enjoy section */
  .love-enjoy-section .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .right-ctn {
    align-items: center;
  }
  .experience-btn {
    margin: 15px 0 0 0;
    padding: 32px 30px;
  }
  /* some facts */
  .some-facts-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  /* contact us */
  .contact-section .section-title{
    font-size: 30px;
  }
  .contact-section-container {
    width: 100%;
  }
  /* sponsors */
  .sponsors-list {
    gap: 20px;
    flex-direction: column;
  }
  /* footer */
  footer {
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width:577px ) and (max-width:992px) {
  /* header */
  .header-container {
    padding: 50px 15px;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-items {
    flex-direction: column;
    gap: 5px;
  }
  /* main sections */
  main {
    margin: 0 auto;
    padding: 60px 15px 155px 15px;
  }
  /* features section */
  .features-section {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .photo-gallery {
    gap: 15px;
  }
  .feature-section-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-section-items .section-title, .feature-section-items .section-description {
    text-align: center;
  }
  /* love and enjoy section */
  .love-enjoy-section .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .right-ctn {
    align-items: center;
  }
  .experience-btn {
    margin: 15px 0 0 0;
    padding: 32px 30px;
  }
  /* some facts */
  .some-facts-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /* contact us */
  .contact-section .section-title{
    font-size: 30px;
  }
  .contact-section-container {
    width: 100%;
  }
  /* sponsors */
  .sponsors-list {
    gap: 20px;
    flex-direction: column;
  }
  /* footer */
  footer {
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* md-abir-alahe */
